<div class="row collapse">
  <div class="small-10 columns">
    <input type="text" placeholder="Søg, f.eks. musik, kursus">
  </div>
  <div class="small-2 columns">
    <a href="#" class="button postfix" data-ng-click="search()">Søg</a>
  </div>
  <div class="large-6 columns">
    <label><strong>Tags</strong></label>
    <input id="services" type="checkbox"><label for="services">Serivce</label>
    <input id="angular" type="checkbox"><label for="angular">Angular</label>
    <input id="javascript" type="checkbox"><label for="javascript">Javascript</label>
    <input id="chrome" type="checkbox"><label for="chrome">Chrome</label>
  </div>
  <div class="large-6 columns">
    <label><strong>Levels</strong></label>
    <input id="1" type="checkbox"><label for="1">1</label>
    <input id="2" type="checkbox"><label for="2">2</label>
    <input id="3" type="checkbox"><label for="3">3</label>
    <input id="4" type="checkbox"><label for="4">4</label>
  </div>
</div>