<div class="row collapse">
  <div class="small-10 columns">
    <input type="text" placeholder="Søg, f.eks. musik, kursus" data-ng-model="query.text">
  </div>
  <div class="small-2 columns">
    <a href="#" class="button postfix" data-ng-click="search()">Søg</a>
  </div>
  <div class="large-6 columns" data-ng-repeat="(id, filter) in filters">
    <label><strong>{{ filter.name }}</strong></label>
    <span data-ng-repeat="item in filter.items">
      <input id="{{ item.value }}" type="checkbox" data-ng-model="query.filters[id][item.value]">
      <label for="{{ item.value }}">{{ item.name }}</label>
    </span>
  </div>
</div>
