/* Compass */
/**
 *
 * Pager
 *
 */
/* Silent classes and variables related to this document
   ========================================================================== */
/* Pager for the creation pages (The one just below header.)
   ========================================================================== */
.pager {
  margin-bottom: 3em;
  margin-top: 2em;
  padding: 2em 0;
  text-align: center;
  /* Pager for the search result pages.
     ========================================================================== */ }
  .pager--inner {
    display: inline-block; }
  .pager--step-wrapper {
    display: inline-block;
    position: relative;
    color: #e6e6e6;
    cursor: pointer; }
    .pager--step-wrapper.is-active {
      color: #62B001; }
      .pager--step-wrapper.is-active .pager--step {
        border-color: #62B001; }
  .pager--step {
    background: #fff;
    border: 1px solid #e6e6e6;
    display: inline-block;
    line-height: .5em;
    margin: 0 .5em;
    padding: .5em;
    position: relative;
    font-size: 1.3em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
  .pager--line {
    border-bottom: 2px solid #e6e6e6;
    margin: 0 -2em;
    margin-bottom: -18px; }
  .pager--text {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    display: none; }
  .pager--search {
    margin-bottom: 2em;
    text-align: center; }
  .pager--search-item {
    display: inline-block;
    background: #fafafa;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-right: 0;
    color: #595959;
    cursor: pointer;
    margin-left: -5px;
    text-align: center; }
    .pager--search-item:first-child {
      -moz-border-radius: 0.5em 0 0 0.5em;
      -webkit-border-radius: 0.5em;
      border-radius: 0.5em 0 0 0.5em; }
    .pager--search-item:last-child {
      border-right: 1px solid #e6e6e6;
      -moz-border-radius: 0 0.5em 0.5em 0;
      -webkit-border-radius: 0;
      border-radius: 0 0.5em 0.5em 0; }
    .pager--search-item.is-active {
      background: #e6e6e6; }
    .pager--search-item.is-disabled {
      color: #ccc;
      cursor: default; }
  .pager--search-item-inner {
    padding: .4em .9em;
    display: block; }

.wrapper {
  padding: 3em; }

.label {
  margin-right: 1em;
  padding: 0.5em; }
